<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/bootstrap-3.3.7-dist/css/bootstrap.min.css">
</head>
<body>
<form action="" method="post">
<table style="margin: 100px auto; line-height: 50px">
    <tr>
        <td><label for="">账号：</label></td>
        <td><input style="height: 30px" type="text"name="user"></td>
    </tr>
        <tr>
        <td><label for="">密码：</label></td>
        <td><input style="height: 30px" type="text"name="pwd"></td>
    </tr>
    <tr><td colspan="2"><center><button type="submit" class="btn btn-info" style="width: 220px;">注册</button></center></td></tr>
    <tr>
        <td colspan="2">{{ tip }}</td>
    </tr>
</table>

</form>

</body>
</html>